@-webkit-keyframes fadeout{
    0%{opacity:1;visibility:visible;}
    99%{opacity:0;}
    100%{opacity:0;visibility: hidden;}
  }
  .fadeout {
    -webkit-animation:fadeout 2s linear;
    visibility: visible;
  }